<launch>
  <arg name="map_name" default="map_1"/>
  <arg name="rviz" default="false"/>

  <!-- Preprocess Livox scans -->
  <rosparam command="load" file="$(find vehicle_params)/config/params.yaml"/>
  <rosparam command="load" file="$(find ptc_scan_processing)/config/params.yaml"/>
  <node name="preprocess_lidar_scan_node" pkg="ptc_scan_processing" type="preprocess_lidar_scan_node" output="screen"/>

  <!-- FAST LIO for lidar odometry -->
  <include file="$(find fast_lio)/launch/mapping_mid360.launch">
      <arg name="rviz" value="false"/>
  </include>
  
  <!-- Load the YAML file with parameters -->
  <rosparam command="load" file="$(find localization)/config/params.yaml"/>
  <param name="map_data/home_relative_path" value="maps"/>
  <param name="map_data/map_name" value="$(arg map_name)"/>

  <!-- Launch the localization node -->
  <node pkg="localization" type="localization_node" name="localization_node" output="screen"/>

  <!-- Launch the obstacle point cloud generator node -->
  <node pkg="localization" type="obstacle_generator_node" name="obstacle_generator_node" output="screen"/>
  
  <!-- Launch RViz with config -->
  <node name="rviz_localization" pkg="rviz" type="rviz" args="-d $(find localization)/resource/visualizer.rviz" output="screen" if="$(arg rviz)"/>
</launch>
