<launch>

  <arg name="width" default="1920"/>
  <arg name="height" default="1080"/>
  <arg name="fps" default="5"/>

  <!-- The node to control the camera transmission -->
  <node pkg="camera_transmitter" type="insta360_node.py" name="insta360_node" output="screen">
    <param name="width" value="$(arg width)"/>
    <param name="height" value="$(arg height)"/>
    <param name="fps" value="$(arg fps)"/>
  </node>

</launch>
