<launch>

   <include file="$(find mig_clusterization)/launch/main.launch"/>
   
   <node pkg="tf" type="static_transform_publisher" name="stf0" args="-0.37 0.0 -0.3 0 0 0 livox base_link 100" /> 
   <node pkg="tf" type="static_transform_publisher" name="stf1" args="0 0 -20 0 0 0 base_link sonar_frame 100" />

   <node pkg="ping360_gazebo_plugin" name="pcl_gen" type="pcl_gen.py" >
    </node> 

    <node pkg="point_cloud_converter" name="point_cloud_converter" type="point_cloud_converter_node" >
		<remap from="points_in" to="/livox/pcl"/>
		<remap from="points2_out" to="/livox/lidar" /> 
    </node>	
    
     <node pkg="point_cloud_converter" name="point_cloud_converter2" type="point_cloud_converter_node" >
		<remap from="points_in" to="/ping360_node/sonar/point_cloud"/>
		<remap from="points2_out" to="/ping360/sonar" /> 
    </node>    


    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan1">
      <remap from="cloud_in" to="/livox/lidar"/>
      <remap from="scan" to="/scan1" />
      <rosparam>
        target_frame: base_link
        transform_tolerance: 0.01
        min_height: 0.1
        max_height: 2.0        
        angle_min: -0.75
        angle_max: 0.75
        angle_increment: 0.01
        scan_time: 0.01
        range_min: 0.5
        range_max: 50.0
        use_inf: true
        
        #concurrency_level affects number of pc queued for processing and the number of threadsused
        # 0: Detect number of cores
        # 1: Single threaded
        # 2: inf : Parallelism level
        concurrency_level: 0
      </rosparam>
    </node>
    
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan2">
      <remap from="cloud_in" to="/ping360/sonar"/>
      <remap from="scan" to="/scan2" />
      <rosparam>
        target_frame: base_link
        transform_tolerance: 0.01
        min_height: -2.0
        max_height: -0.1        
        angle_min: -3.5
        angle_max: 3.5
        angle_increment: 0.01
        scan_time: 0.01
        range_min: 0.5
        range_max: 20.0
        use_inf: true
        
        #concurrency_level affects number of pc queued for processing and the number of threadsused
        # 0: Detect number of cores
        # 1: Single threaded
        # 2: inf : Parallelism level
        concurrency_level: 0
      </rosparam>
    </node>    
    
    <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger">
      <param name="destination_frame" value="base_link"/>
      <param name="scan_destination_topic" value="/scan"/>
      <param name="laserscan_topics" value ="/scan1" />
    </node>    
    
    <node pkg="mig_obstacle_avoidance" type="obstAvoid1i.py" name="obstAvoid1i" />
    
</launch>
